<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To-Do lists</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/base.css" rel="stylesheet">
  </head>

  <body class="container">

    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center jumbotron">
          <h1>{% block header_text %}{% endblock %}</h1>

          <form method="POST" action="{% block form_action %}{% endblock %}">
            <input id="id_new_item"
                   name="item_text"
                   placeholder="Enter a to-do item"
                   class="form-control input-lg"
            >
            {% csrf_token %}
          </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {% block table %}{% endblock %}
      </div>
    </div>

  </body>

</html>
