{% extends 'base.html' %}

{% block header_text %}Your To-Do list{% endblock %}

{% block form_action %}/lists/{{ list.id }}/add_item{% endblock %}

{% block table %}
  <table id="id_list_table" class="table">
    {% for item in list.item_set.all %}
    <tr>
      <td>{{ forloop.counter }}&colon; {{ item.text }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
